.App {
  text-align: center;
}

body {
  font-style: sans-serif;
}
.app-name{
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.search {
  margin: 50px auto;
  text-align: center;
}
.create-new form{
  display: block;
  margin-top: 0em;
}
#new-search {
  border: 3px solid black;
  height: 20px;
  width: 200px;
  padding: 1px 2px;
  color: -internal-light-dark-color(black, white);
  display: inline-block;
  text-align: start;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
}


input {
  margin: 3px;
}

.submit-button {
  margin: 5px;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap:  wrap;
}


.receipt {
  position: relative;
  border: 1px solid coral;
  padding: 1em;
  margin: 1em;
  flex: 1 0 250px;
  max-width: 300px;
}
.receipt h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.receipt h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
}
.receipt p {
  color: teal;
}
.order-summary {
  color: indigo;
}
.order-paid-for {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  font-weight: 800;
  padding: 0 0.2em;
  background-color: transparent;
  transition: all 0.1s linear;
}
.order-paid-for.check_box {
  background-color: rgba(49, 199, 106, 0.75);
}
.order-paid-for > p > .material-icons {
  display: block;
  font-size: 3em;
  margin-bottom: 0.25em;
}



